.header {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: $third-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;

  &-logo {
    width: 100px;
    margin-bottom: 1.25rem;
  }

  &-title {
    position: relative;
    width: 100%;
    background-color: $second-volor;
    text-align: center;
    color: $first-color;
    text-transform: uppercase;
    font-size: $fs-title;
    padding: .6rem 0;
    letter-spacing: $title-spacing
  }
}